<h3>From this First component user can input Data</h3>
<div class="formContainer">
    <div class="name">
      <input type="text"
             placeholder="Name"
             name="name"
             [(ngModel)]="firstName">
    </div>
  
    <div class="email">
      <input type="text"
             placeholder="Email"
             name="email"
             [(ngModel)]="email">
    </div>
    <div class="btnContainer">
      <button class="submitBtn" (click)="submitBtn()">Submit</button>
    </div>
  </div>
  
