.titleContainer {
    margin-top:20px;
    display:flex;
    height:32px;
    background:#f6f6f6;
    line-height:32px;
    font-size:14px;
    font-weight:800;
  }
  .nameTitle {
    flex:1;
    padding-left:20px;
  }
  
  .addressTitle {
    flex:1;
    padding-left:20px;
  }
  
  .emailTitle {
    flex:1;
    padding-left:20px;
  }
  
   .genderTitle {
    flex:1;
    padding-left:20px;
   }
  
  
  .rowContainer {
    display:flex;
    height:32px;
    border-bottom:1px solid #dddddd;
    line-height:32px;
    font-size:12px;
  }
  
  .name {
    flex:1;
    padding-left:20px;
  }
   .address {
    flex:1;
    padding-left:20px;
   }
  
   .email {
    flex:1;
    padding-left:20px;
   }
  
  .gender {
    flex:1;
    padding-left:20px;
  }
  